/*-map view styles ------------------*/
.map-container .leaflet-popup-content-wrapper {
  width: 380px;
  background: rgba(0, 0, 0, 0.65);
  color: rgb(255, 255, 255);
  border-radius: 5px;
}

.map-container .leaflet-popup-content-wrapper .truncate{
  width: 360px;
  margin-top: 6px;
  color: rgb(0, 216, 255);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.map-container .leaflet-popup-content-wrapper h2 {
  font-size:16px;
}

.map-container .leaflet-popup-content-wrapper img { 
  width: 360px;
  height: 222px;
}

.map-container .leaflet-popup-content-wrapper p {
  width: 360px;
  margin: 6px 0 0 0;
  font-size: 14px;
  line-height: 17px;
}

.map-container .leaflet-popup-content-wrapper a { 
  font-size: 14px;
  color: rgb(0, 216, 255);
  text-decoration: none;
}

.map-container .leaflet-popup-content-wrapper a:hover { 
  color:rgb(0, 216, 255);
  text-decoration: underline;
}

.map-container .leaflet-popup-tip-container {
  width: 30px;
  height: 15px;
}

.map-container .leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(0, 0, 0, 0.65);
}