/*Layout styles*/

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  /* Virtually every style in this project is sized relative to this style*/
  font-size: 12px;
}

header, section, footer {
  width: 80%;
  min-width: 67.5rem;
  margin: 1rem auto 0 auto;
  overflow: auto;
}

/*Map container styles*/
.map-container {
  width: 98%;
  float: left;
  margin: 1rem;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgb(160, 160, 160);
}

.map-container #map {
  height: 30rem;
  border-radius: 5px 5px 0 0;
}

.map-container pre.ui-coordinates {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  padding: .4rem .9rem;
  font-size: .9rem;
  line-height: 1.25rem;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  z-index: 999;
}

.map-container .caption {
  width: 100%;
  padding: .5rem 0;
  background: rgb(85, 85, 85);
  color: rgb(64, 191, 242);
  border-radius: 0 0 5px 5px;
  text-align: center; 
}

.map-container .caption b {
  font-weight: bold;
}

/*dropzone styles*/
#media-dropzone {
  width: 98%;
  height: 12rem;
  float: left;
  margin: 0 1rem;
  padding: 0;
  background: url("cloud.png") center no-repeat;
  border: 1px solid rgb( 150, 150, 150);
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgb(160, 160, 160);
  text-align:center;
  box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5), 0 0 7px 2px rgb(160, 160, 160);
}

.dz-preview, .dz-file-preview {
  margin:0;
  padding:0;
  background-color: transparent;
}

.dz-default.dz-message {
  letter-spacing: .03rem;
  font-weight: 600;
  padding-top: 6.75rem;
  color: rgb(100, 100, 100);
}


#media-contents img {
  width: 150px;
  height: 112.5px;
}

