/*layout styles*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  /* Virtually every style in this project is sized relative to this style*/
  font-size: 12px;
}

header, section, footer {
  width: 80%;
  min-width: 40rem;
  margin: 1rem auto 0 auto;
  overflow: auto
}

section {
  margin-top: 0;
}

.logo {
  width: 100%;
  height: 6rem;
  background: url("logo.png") center/424px 75px no-repeat;
}

/*map container styles*/
.map-container {
  width: 98%;
  float: left;
  margin: 1rem;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgb(160, 160, 160);
}

.map-container #map {
  height: 25rem;
  border-radius: 5px 5px 0 0;
}

.map-container .caption {
  width: 100%;
  display: block;
  padding: .5rem 0;
  background: rgb(170, 232, 255);
  color: rgb(0, 6, 73);
  font-weight: 600;
  border-radius: 0 0 5px 5px;
  text-align: center; 
}

.map-container pre.ui-coordinates {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  padding: .4rem .9rem;
  font-size: .9rem;
  line-height: 1.25rem;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  overflow: hidden;
  z-index: 999;
}

/*dropzone styles*/
#image-dropzone {
  width: 98%;
  height: 12rem;
  float: left;
  margin: 0 1rem;
  padding: 0;
  background: url("cloud.png") center no-repeat;
  border: 2px solid rgb( 100, 100, 255);
  border-radius: 5px;
  text-align:center;
  box-shadow: inset 0 0 100px 1px rgba(0,0,0,0.5), 0 0 7px 2px rgb(160, 160, 160);
}

.image-manager {
  width: 98%;
  float: left;
  margin: 1rem;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 5px;
  box-shadow: 0 0 7px 2px rgb(160, 160, 160);
}

.image-manager .caption {
  width: 100%;
  display: block;
  padding: .5rem 0;
  background: rgb(170, 232, 255);
  color: rgb(0, 6, 73);
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid rgb(150, 150, 150);
  border-radius: 5px 5px 0 0;
}

.saved-images img {
  width: 75px;
  height: 56.25px;
  margin-left: 1.25rem;
  padding-bottom: 1rem;
}

.dz-preview, .dz-file-preview {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.dz-default.dz-message {
  padding-top: 6.75rem;
  color: rgb(100, 100, 100);
  font-weight: 600;
  letter-spacing: .03rem;
}

/*form styles*/
.checkbox {
  position: relative;
  clear: left;
  margin-bottom: .5rem;
}

input[type="submit"] {
  width: 97%;
  margin: 1rem;
  padding: .75rem;
  border: 1px solid rgb(178, 178, 178);
  border-radius: 5px;
  color: rgb(85, 85, 85);
  background: rgb(242, 242, 242);
  font-size: 1rem;
  text-align: center;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
}

input[type="submit"]:focus {
  outline: 0;
}

input[type="submit"]:hover {
  color: rgb(0, 0, 0);
  background: rgb(216, 216, 216);
  border-color: rgb(90, 90, 90);
}